:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  transition: background 0.3s linear;
}

body.dark {
  background-color: var(--dark);
}

.label {
  width: 14.1711rem;
  height: 102px;
  background-color: var(--label);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  position: relative;
}

.ball {
  width: 5.394rem;
  height: 5.394rem;
  background-color: var(--light);
  position: absolute;
  border-radius: 50%;
  left: 11.8px;
  transition: transform 0.3s linear;
}

img {
  width: 5.884rem;
  height: 5.884rem;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox:checked + .label .ball {
  transform: translateX(120px);
}
